$lightStrongCyan: #9fe8df;
$strongCyan: hsl(172, 67%, 45%);
$veryDarkCyan: hsl(183, 100%, 15%);
$darkGrayishCyan: hsl(186, 14%, 43%);
$grayishCyan: hsl(184, 14%, 56%);
$lightGrayishCyan: hsl(185, 41%, 84%);
$veryLightGrayishCyan: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);
$baseFontSize: 24px;
$fontFamily: 'Space Mono', monospace;
// bootstrap medium breakpoint
$mobileWidth: 768px;

// font
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
body {
  font-family: $fontFamily;
  font-size: $baseFontSize;
  background-color: $lightGrayishCyan;
}

.app {
  display: flex-column;

  .header {
    justify-content: center;
  }

  .calculator {
    display: flex-column;
    background-color: $white;
    border-radius: 20px;
    padding: 45px;

    ::placeholder {
      // Chrome, Firefox, Opera, Safari 10.1+
      color: $grayishCyan;
      //Firefox
      opacity: 1;
    }
    :-ms-input-placeholder {
      // Internet Explorer 10-11
      color: $grayishCyan;
    }
    ::-ms-input-placeholder {
      // Microsoft Edge
      color: $grayishCyan;
    }

    .tipSelect {
      gap: 20px;

      .btn {
        background-color: $veryDarkCyan;
        color: $veryLightGrayishCyan;
        border: none;
        padding: 10px;
        font-size: $baseFontSize;
        width: calc((100% - 40px) / 3) !important;

        &:hover {
          background-color: $lightStrongCyan;
          color: $veryDarkCyan;
        }
        &.active {
          background-color: $strongCyan;
          color: $veryDarkCyan;
        }
      }
      input {
        width: calc((100% - 40px) / 3) !important;
      }
    }

    .form-label {
      display: block;
      color: $darkGrayishCyan;
      font-size: 17px;
    }

    .form-control {
      text-align: right;
      font-size: $baseFontSize;
      color: $veryDarkCyan;
      border: 0;
      background-color: $veryLightGrayishCyan;
    }

    .input-group-text {
      background-color: $veryLightGrayishCyan;
      border: 0;
    }
  }
}

@media only screen and (max-width: $mobileWidth) {
  .app {
    .calculator {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

      .tipSelect {
        .btn,
        input {
          width: calc((100% - 40px) / 2) !important;
        }
      }
    }
  }
}
